USE [master]
GO
/****** Object:  Database [MobileShopDB_2]    Script Date: 12/18/2024 11:11:28 PM ******/
CREATE DATABASE [MobileShopDB_2]
 /*CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileShopDB_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MobileShopDB_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileShopDB_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MobileShopDB_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
 */
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileShopDB_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileShopDB_2]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [nvarchar](255) NOT NULL,
	[ProductID] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[SessionID] [nvarchar](255) NULL,
	[Soluong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [nvarchar](255) NOT NULL,
	[OrderID] [nvarchar](255) NOT NULL,
	[ProductID] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](255) NOT NULL,
	[UserID] [nvarchar](255) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBrand]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBrand](
	[BrandID] [nvarchar](255) NOT NULL,
	[CatalogueID] [nvarchar](255) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductBrand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCatalogues]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCatalogues](
	[CatalogueID] [nvarchar](255) NOT NULL,
	[CatalogueName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CatalogueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[Image_path] [nvarchar](255) NULL,
	[color] [nvarchar](255) NULL,
	[size] [nvarchar](255) NULL,
	[CatalogueID] [nvarchar](255) NULL,
	[BrandID] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [bit] NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionID] [nvarchar](255) NOT NULL,
	[UserID] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nvarchar](255) NOT NULL,
	[Account] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[RoleID] [bit] NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variants]    Script Date: 12/18/2024 11:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variants](
	[ProductID] [nvarchar](255) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'0316dda8-a39f-484a-b443-ad7a813dd96d', N'b64288ae-f3d2-4134-ad1b-bb370c5bac5c', N'6e51f81f-98a0-4cfc-ba08-15a57107d5ff', 1, 300000)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'1fd495cb-5259-4596-9990-d0f4b4111527', N'292417b0-a104-4fd9-80a0-823fbb061097', N'6e51f81f-98a0-4cfc-ba08-15a57107d5ff', 1, 300000)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'3a2161ea-8872-4720-b266-8bdd2f9be26b', N'f39537c3-acf6-4cc2-b579-c1828461b36d', N'409b5469-d3d5-4a8e-b08e-14c94a3ec7d1', 1, 24450000)
GO
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalPrice], [Status]) VALUES (N'292417b0-a104-4fd9-80a0-823fbb061097', N'fe5301cd-5c8d-45c7-97bb-8b31516c8a96', CAST(N'2024-12-18T14:51:38.910' AS DateTime), CAST(300000.00 AS Decimal(18, 2)), N'Đang xử lý')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalPrice], [Status]) VALUES (N'903ab253-ec01-45d9-a23b-5cd8fe285a0f', N'fe5301cd-5c8d-45c7-97bb-8b31516c8a96', CAST(N'2024-12-18T00:00:55.000' AS DateTime), CAST(20300000.00 AS Decimal(18, 2)), N'Đang xử lý')
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalPrice], [Status]) VALUES (N'b4a74610-cd48-4f55-902d-197fb404179e', N'fe5301cd-5c8d-45c7-97bb-8b31516c8a96', CAST(N'2024-12-18T14:43:13.310' AS DateTime), CAST(20000000.00 AS Decimal(18, 2)), N'Đã huỷ')
GO
INSERT [dbo].[ProductBrand] ([BrandID], [CatalogueID], [BrandName]) VALUES (N'23749d61-626d-4739-b4f6-7da87202ef04', N'bd0812a1-7df3-476c-b851-fa9595edfe12', N'Intel')
INSERT [dbo].[ProductBrand] ([BrandID], [CatalogueID], [BrandName]) VALUES (N'339f9854-9af2-4203-99cc-2dbc44325aef', N'2fe4a75f-5df8-4f0b-9d38-e291d827e787', N'Canon')
INSERT [dbo].[ProductBrand] ([BrandID], [CatalogueID], [BrandName]) VALUES (N'6de2f729-c7b9-45f7-93d4-e8c88fb3331e', N'991b86f4-f0d5-4d34-b32a-2d2e011e4cf9', N'Marshall')
GO
INSERT [dbo].[ProductCatalogues] ([CatalogueID], [CatalogueName]) VALUES (N'2fe4a75f-5df8-4f0b-9d38-e291d827e787', N'Máy ảnh ')
INSERT [dbo].[ProductCatalogues] ([CatalogueID], [CatalogueName]) VALUES (N'991b86f4-f0d5-4d34-b32a-2d2e011e4cf9', N'Loa đài')
INSERT [dbo].[ProductCatalogues] ([CatalogueID], [CatalogueName]) VALUES (N'bd0812a1-7df3-476c-b851-fa9595edfe12', N'Linh kiện điện tử')
GO
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Description], [Quantity], [Image_path], [color], [size], [CatalogueID], [BrandID]) VALUES (N'409b5469-d3d5-4a8e-b08e-14c94a3ec7d1', N'Máy Ảnh Canon EOS 850D', 24450000, N'Máy ảnh tốt', 4, N'/Images/may-anh-canon-eos-850d-kit-ef-s18-55mm-f4-56-is-stm.jpg', N'Màu đen', N'', N'2fe4a75f-5df8-4f0b-9d38-e291d827e787', N'339f9854-9af2-4203-99cc-2dbc44325aef')
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Description], [Quantity], [Image_path], [color], [size], [CatalogueID], [BrandID]) VALUES (N'6e51f81f-98a0-4cfc-ba08-15a57107d5ff', N'Iphone 15', 300000, N'Sản phẩm làm bởi Apple', 24, N'/Images/galaxy-note-3.jpg', N'Đỏ', N'Bé', N'e65c3d30-a5cb-4729-8917-4b4aaf4cdf34', N'bb371d9b-2407-496b-8d5b-d9e148cd67d4')
INSERT [dbo].[Products] ([ProductID], [Name], [Price], [Description], [Quantity], [Image_path], [color], [size], [CatalogueID], [BrandID]) VALUES (N'a2ab3e02-635b-4706-9b66-d9a7a32adcc5', N'Samsung Galaxy S24 Ultra', 29990000, N'Phần cứng mạnh mẽ đáp ứng tốc độ AI, Làm từ Titan. Cứng cáp bậc nhất bất chấp mọi thử thách, Siêu phân giải 200MP sắc nét và chân thực', 8, N'/Images/2_52709.jpg', N'Xám', N'256gb', N'e65c3d30-a5cb-4729-8917-4b4aaf4cdf34', N'f8db5554-d6b4-4f75-9030-ce47c33f2949')
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (0, N'Customer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Users] ([UserID], [Account], [Password], [Name], [RoleID], [PhoneNumber], [Address], [Email]) VALUES (N'49908112-4d21-4ef0-aa2b-72a84d90b628', N'abc', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'long', 1, N'0386404269', N'Ha Noi', N'ngu')
INSERT [dbo].[Users] ([UserID], [Account], [Password], [Name], [RoleID], [PhoneNumber], [Address], [Email]) VALUES (N'70a7e9ed-817d-48c5-96f0-42ddb01c32bc', N'abc1', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'long', 1, N'0386404269', N'Ha Noi', N'ngu')
INSERT [dbo].[Users] ([UserID], [Account], [Password], [Name], [RoleID], [PhoneNumber], [Address], [Email]) VALUES (N'7c7ebfcf-f1ff-4851-85d8-24bdc0ba9b5b', N'longta2004', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'Tạ Văn Long', 1, N'0386404269', N'Hà Nội', N'longta2004.vtv3@gmail.com')
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeta_Order_76969D2E] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDeta_Order_76969D2E]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD FOREIGN KEY([CatalogueID])
REFERENCES [dbo].[ProductCatalogues] ([CatalogueID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[ProductBrand] ([BrandID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brand]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Variants]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Variants]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
USE [master]
GO
